@tailwind base;
@tailwind components;
@tailwind utilities;


nav a {
    margin-right: 10px;
}

nav a.active {
    text-decoration: none;
    font-weight: bold;
}

.Tricky p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
}