@tailwind base;
@tailwind components;
@tailwind utilities;


nav a {
    margin-right: 10px;
}

nav a.active {
    text-decoration: none;
    font-weight: bold;
}

p, li {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 14px;
}
h1,h2,h3,h4,h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.MyMover {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
        /*
      animation-name: example;
         animation-duration: 4s;
        animation-iteration-count: 3;
      */
    animation: example 2s 3;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

.content {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 2em;
}

.loadingFlasher {
  /* width: 50%; */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: flashText 1s 3;
  color: #339933;
}

@keyframes flashText {
  0% {opacity:1 ;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.errorBlock {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.hasError {
  width:50%;
  height: 100px;
  border-radius: 10px;
  border:4px solid #aa4444;
  color:#aa4444;
  display:flex;
  align-items: center;
  justify-content: center;
}

.bullet {
  box-shadow: 10px 5px 7px red;
  width:50%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px ;
}

.side {
  display: inline-block;
  width: 45%;
  float: left;
}